.intro-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: stretch;
    gap: var(--gap);
    min-height: 130vh;
}

.intro-text-content,
.intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img,
.intro-img svg {
    max-width: 100%;
    height: 30rem;
}

.contact-img img,
.contact-img svg {
    max-width: 100%;
    height: 20rem;
}

.top3-content {
    min-height: 130vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 70rem;
    text-align: center;
}

.grid-one-content {
    min-height: 115vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.grid-two-content {
    min-height: 155vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.pricing-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 70rem;
    text-align: center;
}

.contact-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: stretch;
    gap: var(--gap);
    min-height: 170vh;
}

.grid-main-heading {
    margin-bottom: 1rem;
}

.grid-description {
    padding-bottom: 2rem;
}

.gallery-content {
    min-height: 180vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 200ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(3%, -3%) scale(1.2) rotate(5deg);
}

.logo {
    width: 100%;
    max-width: 4rem;
    max-height: 4rem;
    overflow: hidden;
    border: 0.1rem solid var(--primary-color);
}