.responsive-table {
    overflow: auto;
}

table {
    min-width: 360px;
    width: 100%;
    border-collapse: collapse;
}

table caption {
    font-style: italic;
    font-size: 1.4rem;
    text-align: left;
    margin-bottom: 1rem;
}

table td,
table th {
    white-space: nowrap;
    border: 0.1rem solid var(--light-gray-color);
    text-align: left;
    padding: 0.1rem;
    font-size: 1.4rem;
}

tfoot td,
table th {
    background: var(--light-gray-color);
}